<main>
    @if (blog$ | async; as blog) {
    <section>
        <app-hero-banner [heroBanner]="heroBanner()" />
    </section>

    <section class="section-container lg:!px-48">
        <app-dynamic-content [content]="blog.content" />
    </section>

    <section class="section-container">
        <h2 class="text-3xl text-subtitle mb-8 lg:mb-16">
            Related posts
        </h2>

        @if (relatedBlogs$ | async; as relatedBlogs) {
        <ul class="flex flex-col gap-6 lg:grid lg:grid-cols-3 lg:gap-4">
            @for (blog of relatedBlogs.data; track blog.documentID) {
            <li>
                <app-blog [blog]="blog" />
            </li>
            }
        </ul>
        } @else {
        <section class="section-container flex justify-center items-center">
            <i class="pi pi-spin pi-spinner text-9xl text-primary"></i>
        </section>
        }
    </section>
    }@else {
    <section class="section-container flex justify-center items-center">
        <i class="pi pi-spin pi-spinner text-9xl text-primary"></i>
    </section>
    }
</main>