<main class="bg-hero-section section-container px-0!">
    <div class="px-4 py-40 relative bg-white bg-cover bg-center bg-no-repeat lg:px-24 lg:grid lg:grid-cols-5 lg:gap-10"
        [ngClass]="heroBanner.backgroundImage">
        <div class="col-span-3 flex flex-col justify-center">
            @if (heroBanner.subtitle) {
            <p class="text-2xl lg:text-5xl lg:text-left"
                [ngClass]="heroBanner.backgroundImage ? 'text-white text-center' : 'text-description'">
                {{heroBanner.subtitle}}
            </p>
            }
            <h1 class="text-5xl lg:text-6xl lg:text-left"
                [ngClass]="heroBanner.backgroundImage ? 'text-white text-center' : 'text-subtitle'">
                {{heroBanner.title }}
            </h1>
            @if (heroBanner.solutionSubtitle) {
            <p class="text-2xl lg:text-3xl lg:text-left"
                [ngClass]="heroBanner.backgroundImage ? 'text-white text-center' : 'text-description'">
                {{heroBanner.solutionSubtitle}}
            </p>
            }
            @if (heroBanner.description) {
            <p class="text-xl mt-6 whitespace-pre-line lg:text-2xl lg:text-left lg:mt-14"
                [ngClass]="heroBanner.backgroundImage ? 'text-white text-center' : 'text-subtitle'">
                {{heroBanner.description}}
            </p>
            }
            @if (heroBanner.sponsorImage) {
            <div class="mt-6 lg:mt-14">
                <p class="text-xl text-subtitle mb-5">
                    Powered by
                </p>
                <img src="{{heroBanner.sponsorImage}}" alt="Sponsor" class="w-32 h-auto mt-2">
            </div>
            }
            @if (heroBanner.displayButton) {
            <div class="flex justify-center mt-6 lg:mt-14 lg:justify-start">
                <a class="primary-button" routerLink="/contact-us">
                    Request a Demo Today
                </a>
            </div>
            }
        </div>



        @if (heroBanner.newImage) {
        <div class="hidden col-span-2 relative lg:flex lg:justify-center lg:items-center">
            <img src="{{heroBanner.newImage}}" alt="New"
                class="w-full object-cover max-w-[486px] absolute -bottom-40 right-0">
        </div>
        }

    </div>
</main>