<main>
    @if (new$ | async; as oNew) {
    <section>
        <app-hero-banner [title]="oNew.title" [backgroundImage]="'bg-new-hero'" />
    </section>

    <section class="section-container lg:!px-48">
        <app-dynamic-content [content]="oNew.content" />
    </section>

    <section class="section-container">
        <h2 class="text-3xl text-subtitle mb-8 lg:mb-16">
            Related news
        </h2>

        @if (relatedNews$ | async; as relatedNews) {
        <ul class="flex flex-col gap-6 lg:grid lg:grid-cols-3 lg:gap-4">
            @for (oNew of relatedNews.data; track oNew.documentID) {
            <li>
                <app-new [oNew]="oNew" />
            </li>
            }
        </ul>
        }
    </section>
    }
</main>