<main id="vanta" class="section-container">
    <div class="p-8 rounded-3xl bg-contact-us lg:flex lg:items-center lg:gap-36">
        <div class="mb-4 lg:w-[40%]">
            <h2 class="text-3xl text-title mb-6 lg:text-5xl lg:mb-14">
                Let's Connect
            </h2>
            <p class="text-xl text-description leading-8">
                Contact us today to learn how Virtu can help your organization achieve better outcomes, reduce costs,
                and improve efficiency.
            </p>
        </div>

        <div class="lg:w-[60%]">
            <app-contact-us-form />
        </div>
    </div>
</main>