<main>
    <section class="bg-hero-section py-20 lg:py-24">
        <main class="section-container bg-white relative lg:py-40">
            <div class="max-w-5xl relative z-10">
                <div class="mb-14">
                    <p class="text-2xl text-subtitle lg:text-6xl lg:font-light">Real- World Use Cases
                    </p>
                    <h1 class="text-5xl text-subtitle lg:text-7xl">
                        From Virtu Medical
                    </h1>
                </div>
                <p class="text-base leading-7 lg:text-2xl lg:leading-9">
                    Explore how Virtu Medical solutions are being implemented across a variety of real-world scenarios.
                    From hospital systems to correctional facilities, discover how our technology empowers providers,
                    enhances outcomes, and improves patient care on the ground.
                </p>
            </div>

            <img src="images/resources-m.svg" alt="Cell" class="absolute top-0 right-0 h-full z-0 lg:hidden"
                loading="lazy">
            <img src="images/usecases-d.svg" alt="Cell" class="hidden lg:block absolute top-0 right-0 h-full z-0"
                loading="lazy">
        </main>
    </section>

    @if (usecases$ | async; as usecases) {
    <section class="section-container">
        <div class="mb-8 lg:flex lg:justify-between lg:items-center lg:mb-16">
            <h2 class="text-3xl text-subtitle mb-4 lg:mb-0 lg:text-5xl">
                All Usecases
            </h2>

            <p class="text-2xl text-description">
                {{ usecases.length }} results
            </p>
        </div>

        <div>
            <div class="mb-8 lg:mb-16">
                <ul class="flex flex-col gap-6 lg:grid lg:grid-cols-3 lg:gap-4">
                    @for (usecase of usecases; track usecase.documentID) {
                    <li>
                        <app-usecase [usecase]="usecase" />
                    </li>
                    }
                </ul>
            </div>


            <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="50"
                [showFirstLastIcon]="false" class="p-0">
                <ng-template pTemplate="previouspagelinkicon">
                    <i class="pi pi-arrow-left"></i>
                </ng-template>
                <ng-template pTemplate="nextpagelinkicon">
                    <i class="pi pi-arrow-right"></i>
                </ng-template>
            </p-paginator>
        </div>
    </section>
    }

    <section>
        <app-contact-us />
    </section>
</main>