<main>
    <section>
        <app-hero-banner [title]="'Real-World Use Cases'" [subtitle]="'From Virtu Medical'"
            [description]="'Explore how Virtu Medical solutions are being implemented across a variety of real-world scenarios. From hospital systems to correctional facilities, discover how our technology empowers providers, enhances outcomes, and improves patient care on the ground.'" />
    </section>

    @if (usecases$ | async; as usecases) {
    <section class="section-container">
        <div class="mb-8 lg:flex lg:justify-between lg:items-center lg:mb-16">
            <h2 class="text-3xl text-subtitle mb-4 lg:mb-0 lg:text-5xl">
                All Usecases
            </h2>

            <p class="text-2xl text-description">
                {{ usecases.meta.total }} results
            </p>
        </div>

        <div>
            <div class="mb-8 lg:mb-16">
                <ul class="flex flex-col gap-6 lg:grid lg:grid-cols-3 lg:gap-4">
                    @for (usecase of usecases.data; track usecase.documentID) {
                    <li>
                        <app-usecase [usecase]="usecase" />
                    </li>
                    }
                </ul>
            </div>


            <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows"
                [totalRecords]="usecases.meta.total" [showFirstLastIcon]="false" class="p-0">
                <ng-template pTemplate="previouspagelinkicon">
                    <i class="pi pi-arrow-left"></i>
                </ng-template>
                <ng-template pTemplate="nextpagelinkicon">
                    <i class="pi pi-arrow-right"></i>
                </ng-template>
            </p-paginator>
        </div>
    </section>
    }

    <section>
        <app-contact-us />
    </section>
</main>