<form action="" class="flex flex-col gap-5 bg-white py-8 px-4 rounded-xl border border-border">
    <div class="flex flex-col gap-2">
        <label for="name" class="text-primary text-base font-semibold">Name</label>
        <input pInputText id="name" placeholder="Your name" class="px-4 py-3 rounded-lg text-base text-gray" />
    </div>
    <div class="flex flex-col gap-2">
        <label for="email" class="text-primary text-base font-semibold">Email</label>
        <input pInputText id="email" placeholder="Your email" class="px-4 py-3 rounded-lg text-base text-gray" />
    </div>
    <div class="flex flex-col gap-2">
        <label for="phone" class="text-primary text-base font-semibold">Phone</label>
        <input pInputText id="phone" placeholder="Your phone" class="px-4 py-3 rounded-lg text-base text-gray" />
    </div>
    <div class="flex flex-col gap-2">
        <label for="message" class="text-primary text-base font-semibold">Your Message</label>
        <textarea pInputTextarea id="message" placeholder="Write your message"
            class="px-4 py-3 rounded-lg text-base text-gray"></textarea>
    </div>

    <div class="flex justify-center lg:justify-end lg:mt-5">
        <button pButton type="submit" label="Send Message"
            class="primary-button hover:primary-button-hover w-fit"></button>
    </div>
</form>