<main class="">
    <div class="p-8 rounded-3xl bg-contact-us">
        <div class="mb-4">
            <h2 class="text-3xl text-title mb-6">
                Let's Connect
            </h2>
            <p class="text-xl text-description leading-8">
                Contact us today to learn how Virtu can help your organization achieve better outcomes, reduce costs,
                and improve efficiency.
            </p>
        </div>

        <div>
            <app-contact-us-form />
        </div>
    </div>
</main>