@import "tailwindcss";
@import "primeicons/primeicons.css";
@plugin "tailwindcss-primeui";

@font-face {
  font-family: 'Inter';
  src: url('/virtu/fonts/Inter Font/Inter-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}


@theme {
  --font-primary: 'Inter', sans-serif;
  --color-primary: #1D4389;
  --color-primary-hover: #ABC2ED;
  --color-title: #1A1A1A;
  --color-subtitle: #333;
  --color-section: #040A15;
  --color-solution-card: #152035;
  --color-gray: #666;
  --color-button: #EAF0FB;
  --color-button-text: #122954;
  --color-result-card: #EFF1F5;
  --color-footer: #09152A;
  --color-contact-us: #FAFAFA;
  --color-description: #4D4D4D;
  --color-border: #E6E6E6;
  --color-hero-section: #122954;
  --color-icon: #71DBD4;
  --color-paginator-selected: #1B3E7E;
  --color-blog-title: #121417;
  --color-blog-description: #667082;
  --bg-home-hero-m: url('/virtu/images/home-hero-m.png');
  --bg-home-hero-d: url('/virtu/images/home-hero-d.png');
  --bg-blog-hero-m: url('/virtu/images/resource-hero-m.png');
  --bg-blog-hero-d: url('/virtu/images/blog-hero-d.png');
  --bg-new-hero-m: url('/virtu/images/resource-hero-m.png');
  --bg-new-hero-d: url('/virtu/images/new-hero-d.png');
}

body {
  font-family: var(--font-primary);
}

.bg-home-hero {
  background-image: var(--bg-home-hero-m);
}

.bg-blog-hero {
  background-image: var(--bg-blog-hero-m);
}

.bg-new-hero {
  background-image: var(--bg-new-hero-m);
}

@media screen and (min-width: 1024px) {
  .bg-home-hero {
    background-image: var(--bg-home-hero-d);
  }

  .bg-blog-hero {
    background-image: var(--bg-blog-hero-d);
  }

  .bg-new-hero {
    background-image: var(--bg-new-hero-d);
  }
}

.section-container {
  @apply px-4 py-10 lg:px-24 lg:py-20;
}

.menu-link {
  @apply text-base text-footer hover:text-primary hover:underline hover:font-semibold;
}

.primary-button {
  @apply bg-primary text-button px-8 py-4 rounded-full text-xl font-semibold border-button-text;
}

.primary-button:hover {
  @apply bg-section text-primary-hover px-8 py-4 rounded-full text-xl font-semibold border-section;
}

.secondary-button {
  @apply bg-button text-button-text px-8 py-4 rounded-full font-semibold text-xl border-button-text;
}

.secondary-button:hover {
  @apply bg-primary-hover text-footer px-8 py-4 rounded-full font-semibold text-xl border-primary-hover;
}