<main class="bg-section py-14 px-4">
    <div class="mb-6">
        <img src="/images/data-craft.svg" alt="Data Craft" class="w-full h-full object-cover">
    </div>

    <p class="text-2xl text-white mb-8">
        No developers. No delays. No extra costs.
    </p>

    <p class="text-3xl mb-14 font-semibold text-white">
        Meet Data Craft
    </p>

    <p class="text-white text-xl leading-7 mb-14">
        Designed specifically for healthcare, DataCraft empowers clinical and operational teams to create custom
        dashboards — fast and intuitively. Fully integrated with the power of Virtu Analytics, it unifies clinical and
        claims data for clear, actionable insights. Who needs a whole team of data analysts when you’ve got DataCraft?
    </p>

    <ul class="mb-20">
        <li class="flex gap-1 items-center mb-5">
            <i class="pi pi-check text-white"></i>
            <p class="text-white text-xl">
                Smarter than spreadsheets
            </p>
        </li>
        <li class="flex gap-1 items-center mb-5">
            <i class="pi pi-check text-white"></i>
            <p class="text-white text-xl">
                Faster than manual reporting
            </p>
        </li>
        <li class="flex gap-1 items-center mb-5">
            <i class="pi pi-check text-white"></i>
            <p class="text-white text-xl">
                Easier than Power BI or Tableau
            </p>
        </li>
    </ul>

    <div>

    </div>

    <div class="flex justify-center">
        <button class="bg-button text-button-text px-8 py-6 rounded-full font-semibold text-xl">
            Request a Demo Today
        </button>
    </div>
</main>