@import "tailwindcss";
@import "primeicons/primeicons.css";
@plugin "tailwindcss-primeui";

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter Font/Inter-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}


@theme {
  --font-primary: 'Inter', sans-serif;
  --color-primary: #1D4389;
  --color-primary-hover: #ABC2ED;
  --color-title: #1A1A1A;
  --color-subtitle: #333;
  --color-section: #040A15;
  --color-solution-card: #152035;
  --color-gray: #666;
  --color-button: #EAF0FB;
  --color-button-text: #122954;
  --color-result-card: #EFF1F5;
  --color-footer: #09152A;
  --color-contact-us: #FAFAFA;
  --color-description: #4D4D4D;
  --color-border: #E6E6E6;
  --color-hero-section: #122954;
}

body {
  font-family: var(--font-primary);
}

.primary-button {
  @apply bg-primary text-button px-8 py-4 rounded-full text-xl font-semibold border-button-text;
}

.primary-button:hover {
  @apply bg-section text-primary-hover px-8 py-4 rounded-full text-xl font-semibold border-section;
}

.secondary-button {
  @apply bg-button text-button-text px-8 py-4 rounded-full font-semibold text-xl border-button-text;
}

.secondary-button:hover {
  @apply bg-primary-hover text-footer px-8 py-4 rounded-full font-semibold text-xl border-primary-hover;
}