@import "tailwindcss";
@import "primeicons/primeicons.css";
@plugin "tailwindcss-primeui";

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter Font/Inter-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}


@theme {
  --font-primary: 'Inter', sans-serif;
  --color-primary: #ff33e9;
  --color-title: #1A1A1A;
  --color-subtitle: #333;
  --color-section: #040A15;
  --color-solution-card: #152035;
  --color-gray: #666;
  --color-button: #EAF0FB;
  --color-button-text: #122954;
  --color-result-card: #EFF1F5;
  --color-footer: #09152A;
}

body {
  font-family: var(--font-primary);
}