<main class="bg-primary rounded-3xl flex flex-col justify-between  lg:flex-row ">
    <div class="pt-20 px-4 flex flex-col justify-center lg:py-20 lg:pl-20 lg:pr-0">
        <h2 class="text-3xl text-white text-center mb-6  lg:text-left lg:text-4xl">
            {{ bookDemo.title }}
        </h2>

        <p class="text-xl text-white text-center leading-9 mb-6  lg:text-left">
            {{ bookDemo.description }}
        </p>

        <div class="flex justify-center  lg:justify-start">
            <a [routerLink]="bookDemo.buttonLink" class="secondary-button hover:secondary-button-hover w-fit">
                {{ bookDemo.buttonText }}
            </a>
        </div>
    </div>

    <div class="w-full lg:w-auto">

        <img src="images/cell-m.svg" alt="Ready to transform" class="w-full object-cover h-full lg:hidden"
            loading="lazy">
        <img src="images/cell-d.svg" alt="Ready to transform" class="hidden object-cover lg:block h-full"
            loading="lazy">
    </div>

</main>